@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./images/fundo3.jpg);
    background-size: cover;
    z-index: -1; 
    opacity: 0.9;
}


.information {
    display: none;
    width: 100vw;
    overflow: hidden; 

}

.catch-citie {
    display: block;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    background-color: #27464B;
    color: #333;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.catch-citie:hover {
    transform: scale(1.02);
}

.catch-citie h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #ffffff;
}

.catch-citie form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.catch-citie label {
    font-size: 1rem;
    color: var(--light-blue);
    margin-bottom: 0.5rem;
}


.catch-citie input[type="text"] {
    margin: 0.5rem;
    width: 100%;
    height: 2rem;
    font-size: 1rem;
    text-align: center;
    border: 1px solid #ccc;
    background-color: #dfdede;
    color: #333;
    padding: 0.5rem;
    border-radius: 0.25rem;
    transition: border-color 0.3s ease-in-out;
}

.catch-citie form input[type="text"]:focus {
    outline: none;
}

.catch-citie input[type="text"]:focus {
    outline: none;
    border-color: #666;
}

.catch-citie input[type="submit"] {
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    border: none;
    background-color: #fff86a;
    color: #000;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s;
}

.catch-citie input[type="submit"]:hover {
    background-color: var(--sky-blue);
    color: #000;
}

.citie_info,
.country_info,
.citie_map {
    width: 100vw; 
    height: 100vh; 
    padding: 0%;
    box-shadow: 0 0 2rem var(--black);
    background-color: var(--sky-blue); 
    color: var(--black);
    text-align: left;
}

.citie_info:hover,
.country_info:hover,
.citie_map:hover {
    transform: scale(1.01);
    transition: transform 500ms linear;
}



.citie_info{
    background-color: var(--dark-blue);
    color: var(--white);
}

.citie_info div {
    font-weight:700;
    display: flex;
    justify-content: center;
    align-items: center;

}

.citie_name_div {
    font-size: 2rem;
    border-bottom: 1px solid #fff3f3; 
    padding: 0%;
    max-height: 10%;

}

.citie_info_div{
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;

}
.citie_info .info {
    font-size: 1.8rem; 
    margin: 0.5rem 0;
}

.clima, .nuvens, .latitude, .longitude, .temp, .temp_max, .temp_min, .precao, .humidade, .vento, .sigla, .nome_official, .moeda, .simbolo_moeda, .capital, .regiao, .lingua, .fronteiras, .area, .populacao{
    padding-left: 2rem;
    padding-top: 1rem;
    font-size: 1.2rem;
}

.country_name_div {
    font-size: 2rem;
    border-bottom: 1px solid #000000;
    padding: 0%;
    font-weight:700;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    max-height: 10%;
    padding: 2rem;
}

.bandeira {
    width: 50px; 
    height: auto; 
    margin-left: 1rem; 
}


.citie_map{
    background-color: #F8F9FA;
    display: flex;
    align-items: self-end;
    
}


.butao {
    position: fixed;
    bottom: 2%;
    left: 85%;
    font-size: 0.8rem;
}

.btn-back {
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: inline-block;
    border-radius: 0.25rem;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.2s;
    background-color: #ff6666;
    color: white;
    border: none;
}

.btn-back:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    background-color: #ff0000;
}

.btn-back:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-back::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 0.25rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
    background-color: #ff6666;
}

.btn-back:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}


:root {
    --white: #FFFFFF;
    --black: #000000;
    --light: #DAFDBA;
    --light-green: #9AEBA3;
    --cyan: #45C4B0;
    --dark-cyan: #248173;
    --mid-blue: #145875;
    --light-blue: #13678A;
    --dark-blue: #27464B;
    --sky-blue: #fffee5
}